body, html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.card-img-top{
   vertical-align: middle;
   border-style: none;
   width: 100%;
   height: 250px;
   object-fit: cover;
}
